go 1.22

use (
	./other/schedules/max_events
	./other/schedules/max_person
	./other/schedules/max_profit
	./leetcode/easy/contains_duplicate
	./leetcode/easy/missing_number
	./leetcode/easy/all_disappeared_in_array
)
