go 1.22

use (
	./other/schedules/max_events
	./other/schedules/max_person
	./other/schedules/max_profit
	./leetcode/easy/1_contains_duplicate
	./leetcode/easy/2_missing_number
	./leetcode/easy/3_all_disappeared_in_array
	./leetcode/easy/4_single_number
	./leetcode/easy/5_climbing_stairs
	./leetcode/easy/6_best_time_buy_sell_stock
	./leetcode/easy/7_range_sum_query
)
